/* App */
.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Available Cash */
.denominations {
  display: flex;
  flex-direction: row;
}
.denom-container {
  width: 20%;
  border: 2px solid #25a812;
  border-radius: 8px;
}
.denom-value {
  text-align: left;
  font-size: 0.85em;
  margin: 0.25em;
}
.denom-count h5 {
  font-size: 1.75em;
  margin: 0.75em 0.25em;
}
.register-container {
  display: flex;
  flex-direction: column;
}

.empty-reg,
.sample-reg {
  font-size: 1.5em;
  background-color: yellowgreen;
  border: 2px solid #ffffff;
  padding: 0.85em 0.35em;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: bold;
}

/* Add, remove, swap cash */
.cash-up-window,
.cash-down-window,
.cash-swap-window {
  display: flex;
}
.cash-available,
.cash-up,
.cash-down,
.cash-swap {
  margin: 40px 20px;
}
.add-cash,
.remove-cash {
  width: 20%;
  border: 2px solid slateblue;
  border-radius: 8px;
}
.add-cash input,
.remove-cash input,
.swap-cash input {
  padding: 0.5em 0.25em;
  margin: 0.5em 0.25em;
}
.add-cash p,
.remove-cash p,
.swap-cash p {
  margin: 0.5em 0.25em;
  font-weight: bold;
}
.close-cash-window {
  margin: 1em 0;
}
.close-cash-window input,
.close-cash-window button {
  font-size: 1.5em;
  background-color: none;
  border: 2px solid slateblue;
  padding: 0.5em 0.25em;
  border-radius: 8px;
}
.close-cash-window button {
  background-color: slateblue;
  color: aliceblue;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 0.5em;
}

.cash-swap {
  width: 50%;
  border: 2px solid teal;
  border-radius: 4px;
}
.swap-container {
  display: flex;
}
.swap-cash {
  width: 100%;
}
.swap-container div {
  width: 20%;
  line-height: 1.5em;
}
